.topics-title,
.top-topics {
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #7e7e7e;
  font-weight: 300;
}

.top-topics {
  width: 100%;
}

.topics-title {
  margin-top: 10px;
}
