html {
  --primary-nav: #301d27;
  --primary-bg: #d9c4a0;
  /*--secondary-bg: #f2ddb9;
  --primary-bg: #f2ddb9;*/
  --secondary-bg: #fff7d3;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 76px;
  background-color: var(--primary-bg);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.custom-bg-nav {
  background-color: var(--primary-nav);
}
.custom-bg-primary {
  background-color: var(--primary-bg);
}
.custom-bg-secondary {
  background-color: var(--secondary-bg);
}
input.custom-bg-secondary:focus,
textarea.custom-bg-secondary:focus {
  background-color: var(--secondary-bg);
}
