.navbar {
    overflow: hidden;
    height: 4rem;
    width:100%;
    background-color:rgb(172, 169, 169);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.navbar > img {
    width:50px;
    height:50px;
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
    margin-top: 6px;
}

.navbar > button {
    display: flex;
    justify-content: flex-end;
}